{
  "extends": ["react-app", "prettier"],
  "rules": {
    "no-console": [
      "warn",
      {
        "allow": ["error"]
      }
    ],
    "no-debugger": "warn"
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {}
    }
  ]
}
